@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

.body {
    margin: 0 auto;
}

.fejlec {
    background-color: #b6da8c;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.fejlec img{
    float:left;
}

h1{
    height: 300px;
    text-align: center;
    color:#527c05;
    font-size: 300%;
}

h2 {
    background-color: #bbbbbb;
    color: #ffffff
}

.hirblokk img {
    float:left;
    padding: 0 20px 20px 0;
}

.hirblokk::after {
  content: "";
  clear: both;
  display: table;

}
.Helló img {
    /* 1. Beállítja a maximális szélességet: */
    /* A kép szélessége a szülő (a .Helló blokk) 100%-a lesz,
       de sosem megy ezen túl. */
    max-width: 100%; 
    
    /* 2. Biztosítja az arányos kicsinyítést: */
    /* Meghagyja a kép magasságát auto-n, ami azt jelenti,
       hogy a böngésző automatikusan kiszámítja a helyes arányt. */
    height: auto; 
    
    /* Ha a .Helló div-ed szélességét is beállítottad valahol, 
       a kép ehhez a szélességhez fog igazodni. */
}
.Helló {
    /* Például a maximális szélessége legyen 400 képpont */
    max-width: 400px; 
    
    /* Középre is igazíthatod, ha egyedül áll a sorban */
    margin-left: auto;
    margin-right: auto;
    /* ... és minden más stílus, ami már ott van */
}
